<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div th:replace="~{navigation :: navigation(Home)}" />

        <h4><span class="badge badge-secondary">Страница создания нового пользователя.</span></h4>

        <div class="alert alert-warning" role="alert"
             th:hidden="${error == null ? true : false}" th:text="${error == null ? '' : error}">
        </div>

        <form th:action="@{/user/addUserMethod}" method="POST" class="form-horizontal">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Имя пользователя</label>
                    <input th:name="name" type="text" class="form-control"
                           th:value="${param.name != null ? param.name: ''}">
                </div>
                <div class="form-group col-md-6">
                    <label>Пароль</label>
                    <input th:name="password" type="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label>e-mail</label>
                <input th:name="email" type="email" class="form-control" id="inputAddress"
                       th:value="${param.email != null ? param.email: ''}">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Имя</label>
                    <input th:name="first_name" type="text" class="form-control"
                           th:value="${param.first_name != null ? param.first_name: ''}">
                </div>
                <div class="form-group col-md-6">
                    <label>Фамилия</label>
                    <input th:name="second_name" type="text" class="form-control" id="inputPassword4"
                           th:value="${param.second_name != null ? param.second_name: ''}">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Добавить пользоваля</button>
            <a th:href="@{'/'}" class="btn btn-primary">Назад</a>
        </form>


    </div>
</body>
</html>