<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Личный кабинет</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<div th:fragment="navigation(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li sec:authorize= "isAnonymous()" class="nav-item" th:classappend="${activeTab == 'Home' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/'}">Главное</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${activeTab == 'UserInfo' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/profile/userinfo'}">Информация о пользователе</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${activeTab == 'Balance' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/profile/balance'}">Баланс</a>
                </li>
                <li class="nav-item">
                    <div class="col-sm-6 controls">
                        <a th:href="@{'/user/addUser'}" class="btn btn-success">Добавить нового пользователя</a>
                    </div>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="POST">
                        <button id="navLogout" class="btn btn-outline-secondary" type="submit">Выйти из системы</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

</div>